:root{
--grid-width:114rem;
--gutter-vertical:8rem;
--gutter-horizontal:6rem;
}

html{
	font-size:10px;
}

*,*::after,*::before{
	box-sizing:inherit;
	margin:0;
	padding:0;
}

.row{
	max-width:114rem;
	background-color:#eee;
	margin:0 auto;
}

.row:not(:last-child){
	margin-bottom:6rem;
}

.row::after{
	content:"";
	display:table;
	clear:both;
}

[class^='col-']:not(:last-child){
	margin-right: var(--gutter-horizontal);
}

[class^="col-"]{
	float: left;
	background-color: royalblue;
}

.col-1-of-2{
	width: calc((100% - 6rem)/2);
}

.col-1-of-3{
	width: calc((100% - 12rem)/3);
}

.col-2-of-3{
	width: calc((2*(100% - 12rem)/3)+ 6rem);
}

.col-1-of-4{
	width: calc((100% - 18rem)/4);
}

.col-2-of-4{
	width: calc((2*(100% - 18rem)/4)+ 6rem);
}

.col-3-of-4{
	width: calc((3*(100% - 18rem)/4)+ 12rem);
}